<form #formulaire="ngForm" *ngIf="personne">
    <label for="name">Name</label>
    <input required id="name" type="text" [(ngModel)]="personne.name" name="name" class="form-control">

    <label for="name">First Name</label>
    <input required id="firstname" type="text" [(ngModel)]="personne.firstname" name="firstname" class="form-control">

    <label for="name">Job</label>
    <input required id="job" type="text" [(ngModel)]="personne.job" name="job" class="form-control">

    <label for="name">Age</label>
    <input required id="age" type="number" min="0" max="150" [(ngModel)]="personne.age" name="age" class="form-control">

    <label for="name">Cin</label>
    <input required id="cin" type="text" [(ngModel)]="personne.cin" name="cin" class="form-control">

    <label for="path">Path</label>
    <input id="path" type="text" ngModel name="path" [(ngModel)]="personne.path" class="form-control">

    <button class="btn btn-primary" (click)="updatePersonne()">Ajouter</button>
</form>

